.gradient-custom {
  background: #6a11cb;
  background: linear-gradient(
    to right,
     rgb(129 38 229),
     rgb(24 82 179));;
}

.text-info:hover {
  background: rgba(118, 150, 155, 0.18);
}

.text-info:active {
  background: rgba(100, 149, 237, 0.35);
  transform: scale(0.95);
}

.active {
  background: rgba(59, 70, 138, 0.35);
}
